@font-face {
    font-family: 'Eulyoo1945-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');


* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;

}

body {
  font-family: Sans-serif;
  font-size: 16px;
  background:#fff;
}

.contentcheckbox {
  width: 1fr;
  padding: 0;
  margin: 0 auto;
}

.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

/*Question*/
.question {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 22px;
  position: relative;
  background: #1e1e1e;
  color:#fffffa;
  margin: 0;
  padding: 20px 20px 20px 50px;
  display: block;
  width:100%;
  cursor: pointer;
}
.question:hover {
  background: yellow;
  color:#1e1e1e;
}
/*Answer*/
.answers {
  font-family: 'Eulyoo1945-Regular';
  font-size: 16px;
  line-height: 1.7em;
  max-width: 900px;
  justify-content: center;
  padding: 0px 15px;
  margin: 5px 0;
  width:100%!important;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;

}

.caption {
  font-size: 14px;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;

}

/*FAQ Toggle*/
.plus {
  color:#1e1e1e;
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2.6em;
  line-height: 115%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  color:blue;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);


}

.questions {
  display: none;

}

.grid-container-checkbox-4 {
  padding: 0px;
  font-size:small;
}
.grid-container-checkbox-3 {
  padding: 0px;
  font-size:small;
}

.grid-item-checkbox {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px;
  text-align: left;
}
