
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html body {
  position: relative;
  width:100%; /* take full browser width */
  height:100%; /* take full browser height*/
  background-color: blue;
  font-family: 'Noto Sans KR', sans-serif;
}


/*header*/
.title {
  text-align: center;
  left: 0;
  right: 0;
  width: auto;
  position: fixed;
  z-index: 999;
}
/*footer*/
.menu {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 30px;

  height: 13vh;
  justify-content: flex-start;
  align-items: center;
}
.index {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-size: 30px;
  padding: 15px 20px;
   border-radius: 300px;
    font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
/*text style*/
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 120px;
  color: #fff;
}
p {
  word-break: keep-all;
  color: #fff;
}
.line p{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.line {
  padding: 20px 0px;
}
.caption p{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.caption {
  padding-bottom: 30px;
}


/*grid
#masonry-effect {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .item {
        flex-direction: column;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        color: white;
        position: relative;
        width: calc(33.3% - 1.5rem);
        padding: 0;
        box-sizing: border-box;
    }
    */

    #masonry-effect { /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count:4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 0;
    padding: 0;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}
.item {
    display: inline-block;
    padding: 0.5em;
    margin: 0 0 ;
    width: 100%;
	  -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.item img{max-width:100%;}



img {
  filter: grayscale(100%);
  display: block;
}


body {
  background: black;
  padding: 30px;
}


/*responsive*/
@media only screen and (min-width: 1100px) {
    #masonry-effect {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1099px){
    #masonry-effect {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    .line p{
      font-size: 15px;
      line-height: 25px;
    }
    .caption p{
      font-size: 12px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 799px){
    #masonry-effect {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .line p{
      font-size: 15px;
      line-height: 25px;
    }
    .caption p{
      font-size: 11px;
    }
}

@media only screen and (max-width: 599px) {
    #masonry-effect {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .line p{
      font-size: 16px;
      line-height: 28px;
    }
    .caption p{
      font-size: 12px;
    }
}
